body{
  height: 100%;
  font-size: 100%;
} 
a {
 text-decoration: none !important;
}
a:href {
  color: #e6d8d8;
}
p {
  text-align: justify;
}

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    margin-bottom: 10px;
  }
  body {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2rem;
  }
}