body {
  height: 100%;
}
a {
  text-decoration: none !important;
}
a:href {
  color: #e6d8d8;
}
p {
  text-align: justify;
}

@media (min-width: 544px) {
  h1 {
    font-size: 1.5rem;
  }
  a {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  a {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
}
