body{
  height: 100%;
} 
a {
 text-decoration: none !important;
}
a:href {
  color: #e6d8d8;
}
p {
  text-align: justify;
}

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    margin-bottom: 10px;
  }
}